<div class="row">
  <div class="col-xs-8">
    <div class="panel panel-default review-container clearfix hoverable">
      <div class="review-info">
        <div class="review-author">
          <a href="#/users/<%= review.user().get('id') %>"><%= review.user().escape('username') %></a>
        </div>
      </div>
      <div class="review-body">
        <div class="star-rating" data-review-id="<%= review.get('id') %>">
            <button type="button" class="btn btn-default btn-xs static-star" data-star-id="1">
              <span class="glyphicon glyphicon-heart"></span>
            </button
            ><button type="button" class="btn btn-default btn-xs static-star" data-star-id="2">
              <span class="glyphicon glyphicon-heart"></span>
            </button
            ><button type="button" class="btn btn-default btn-xs static-star" data-star-id="3">
              <span class="glyphicon glyphicon-heart"></span>
            </button
            ><button type="button" class="btn btn-default btn-xs static-star" data-star-id="4">
              <span class="glyphicon glyphicon-heart"></span>
            </button
            ><button type="button" class="btn btn-default btn-xs static-star" data-star-id="5">
              <span class="glyphicon glyphicon-heart"></span>
            </button>
        </div><div class="review-date">
          <%= moment(review.escape("created_at")).format("MM-DD-YY") %>
        </div>
        <p class="review-text"><%= review.escape("body") %></p>
      </div>
    </div>
  </div>
</div>
